<template>
  <li class="mag-item  col-md-2 col-6" v-if="item">
    <div class="item-inner">
      <img :src="item.img" alt="">
      <h5></h5>
      <!--<h5>#<span class="text-danger">{{item.id}}</span><span class="pull-right text-muted date">{{item.published | formatDate}}</span></h5>-->
      <div class="overlay" v-if="true">
        <router-link class="preview btn btn-danger" :to="'/magazine/' + item.id" rel="prettyPhoto" tag="a">Read</router-link>
      </div>
    </div>
  </li>
</template>

<script src="./magazine-item.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./magazine-item.component.css"scoped></style>
