<template>

  <div class="container-fluid sofb-subheader">
    <div class="row">
      <div class="col-12 p-2">
        <h2>{{title}}
        <span class="float-right">
        <router-link tag="a" class="pag" :to="'/magazine/' + prev">
          <i class="fa fa-chevron-left " v-if="current > 1"></i>
        </router-link>
        <span class="current">&nbsp;{{current}}&nbsp;</span>
        <router-link tag="a" class="pag" :to="'/magazine/'+ next">
          <i class="fa fa-chevron-right" v-if="current < 22"></i>
        </router-link>
        </span>
        </h2>
      </div>
    </div>
  </div>
</template>

<script src="./pager-sofb.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./pager-sofb.component.css"scoped></style>
