.sofb-subheader{
  background-color: rgba(0,0,0,0.4);

}
h2{
  color:white;
  padding: 0.2rem 1.8rem;

}


.fa-chevron-left,  .fa-chevron-right {
  font-size: 1em;
  color: #f5f5f5;
}
.fa-chevron-left:hover,  .fa-chevron-right:hover {
  color: #fff
}
.current{color: #fff}

@media (max-width: 765px){


  .fa-chevron-left,  .fa-chevron-right {
    font-size: 1em;
  }
  .p-4{padding: 1em}
}
