ul.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px 0;
}

ul.tag-cloud .btn-primary {
  color: #999;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.current {
  color: #f5f5f5;
  font-weight: bold;
}

/*Unordered Lists*/
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.arrow li::before,
ul.arrow li::after {
  font-family: FontAwesome;
  font-size: 2em;
}

ul.arrow li::before {
  margin-right: 5px;
}

ul.arrow li::before {
  content: "\f105";
}

ul.arrow li a {
  font-size: 1.5em;
  color: #999
}

.widget .arrow {
  margin-bottom: 1em
}
