<template>
  <div class="container-fluid">
    <div class="row  p-3">
      <div class="col-12 col-sm-8 p-4">
        <div class="blog">
          <div class="blog-item" v-if="loaded">
            <iframe   width="100%" height="600px" v-bind:src="frame" style="border: 0;"></iframe>
            <!--<child-reader #reader [(frame)]="magazine.frame"></child-reader>-->
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 p-4">
        <div class="widget search">
          <h3><i class="fa fa-calendar"></i> Published </h3>
          <div class="row">
            <div class="col-sm-6">
              <ul class="arrow">
                <li><a href="#">{{ published | formatDate}}</a></li>
              </ul>
            </div>
          </div>
        </div><!--/.search-->
        <div class="widget categories">
          <h3><i class="fa fa-list"></i> Summary</h3>
          <div class="row">
            <div class="col-sm-6">
              <ul class="arrow">
                <li><a href="#">Hot Dates</a></li>
                <li><a href="#">Sick Rider</a></li>
                <li><a href="#">In Straps</a></li>
                <li><a href="#">Bike Check</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Interview</a></li>
                <li><a href="#">Hot Dates</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Other Side Of The Lens</a></li>
                <li><a href="#">Competitions</a></li>
              </ul>
            </div>
          </div>
        </div><!--/.categories-->
        <div class="widget tags">
          <h3><i class="fa fa-tag"></i> Tags</h3>
          <ul class="tag-cloud">
            <li><a class="btn btn-xs btn-primary" href="#">StokedOnFixedBikes</a></li>&nbsp;
            <li><a class="btn btn-xs btn-primary" href="#">Fixed</a></li>&nbsp;
            <li><a class="btn btn-xs btn-primary" href="#">Gear</a></li>&nbsp;
            <li><a class="btn btn-xs btn-primary" href="#">Bikes</a></li>&nbsp;<br>
            <li><a class="btn btn-xs btn-primary" href="#">Ride</a></li>&nbsp;
            <li><a class="btn btn-xs btn-primary" href="#">SOFB</a></li>&nbsp;
            <li><a class="btn btn-xs btn-primary" href="#">Magazine</a></li>&nbsp;
            <li><a class="btn btn-xs btn-primary" href="#">Issuu</a></li>&nbsp;
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./magazine-sofb.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./magazine-sofb.component.css"scoped></style>
