li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.video-items{
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.video-item {
  padding: 0;
  margin: 0;
}
.video-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.video-item img {
  width: 100%;
}

.video-items.col-2 > li {
  width: 50%;
}
.video-items.col-3 > li {
  width: 33%;
}
.video-items.col-4 > li {
  width: 25%;
}
.video-items.col-5 > li {
  width: 20%;
}
.video-items.col-6 > li {
  width: 16%;
}
.video-items.col-8 > li {
  width: 10%;
}
.title {padding:1em 0 1em 0;font-size: 0.8em}
