<template>
  <div v-if="loaded">
    <sub-header :title="title"></sub-header>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center p-3">
        <div class="col-12 ">
          <p class="lead" v-if="showIframe">
            <span class="pull-right" v-on:click="closeVideo()"> <i  class="fa fa-close"></i></span>
          </p>
          <selected-video :frame="selected" :loaded="showIframe"></selected-video>
          <br/>
          <ul class="video-items">
            <li class="video-item col-6 col-md-2" v-for="video in videos" v-on:click="loadVideo(video)" >
              <div class="item-inner">
                <img :src="video.preview" alt="">
                <p class="title">
                  <span class="text-muted pull-left" >{{video.title}}</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./videos.component.js"></script>

<style src="./videos.component.css"scoped></style>
