<template>
  <div v-if="loaded">
  <p class="lead" >
    <iframe  width="100%" height="600px" :src="frame" style="border: 0;"></iframe>
  </p>
  </div>

</template>

<script src="./video-item.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./video-item.component.css"scoped></style>
