<template>
  <div v-if="loaded">
    <sub-header :title="title"></sub-header>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center p-4">
          <div class="link-items-wrap">
              <link-item class="item"  v-for="(item, index) in links"
                v-bind:item="item"
                v-bind:index="index"
                v-bind:key="item.id">
              </link-item>
          </div>
        </div>
      </div>
  </div>
</template>

<script src="./links.component.js"></script>

<style src="./links.component.css"scoped></style>
