<template>
  <div>
    <sub-header :title="title"></sub-header>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center p-3">
        <div class="col-12 p-4 text-center">

          <h2>
            {{sofbAbout.h2}}
            </h2>
          <h3 class=" text-muted">
            {{sofbAbout.h3}}
            </h3>
          <p class="lead">
            {{sofbAbout.p}}
            </p>

          <h2>
            {{sofbTeam.h2}}
            </h2>
          <h3 class=" text-muted">
            {{sofbTeam.p}}
            </h3>
        </div>
      </div>
      <div class="row justify-content-center p-3">
        <div class="col-md-4 col-6" v-for="item in sofbTeam.members">
          <div class="text-center">
            <p><img class="img-fluid rounded-circle" :src="item.avatar" alt=""></p>
            <h5>{{item.name}}
                    <small class="designation muted">{{item.role}}</small>
            </h5>
            <p>{{item.desc}}</p>
          </div>
        </div>
      </div>
      <div class="row hidden-xs">
        <img :src="banner" class="img-fluid banner">
      </div>
    </div>
  </div>
</template>

<script src="./about.component.js"></script>

<style src="./about.component.css"scoped></style>
