<template>
  <div class="container-fluid sofb-subheader">
    <div class="row">
      <div class="col-12 p-2">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
</template>

<script src="./sub-header.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./sub-header.component.css"scoped></style>
