.mag-items{
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}

.mag-items.col-2 > li {
  width: 50%;
}
.mag-items.col-3 > li {
  width: 33%;
}
.mag-items.col-4 > li {
  width: 25%;
}
.mag-items.col-5 > li {
  width: 20%;
}
.mag-items.col-6 > li {
  width: 16%;
}
.mag-items.col-8 > li {
  width: 10%;
}

