<template>
  <div v-if="loaded">
    <sub-header :title="title"></sub-header>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center p-3">
        <div class="col-12 p-4">
          <ul class="mag-items">
            <mag-item
              v-for="(item, index) in magazines"
              v-bind:item="item"
              v-bind:index="index"
              v-bind:key="item.id">
            </mag-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./magazines.component.js"></script>

<style src="./magazines.component.css"scoped></style>
