<template>
  <div>
    <sub-header :title="title"></sub-header>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center p-3">
        <div class="col-12 p-3 text-center">
          <h2>
            The best way to contact the SOFB team is by dropping us an email with your enquiry to any of this email
            addresses
        </h2>
          <div class="row">
            <div class="col-lg-12 p-4">
              <button type="button" class="btn btn-lg btn-outline-dark">greg@sofbonlinemag.com</button>
            </div>
            <div class="col-12 p-4">
              <button type="button" class="btn btn-lg btn-outline-dark">stokedonfixedbikes@gmail.com</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center p-1">
        <div class="col-lg-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21826378.853786834!2d4.1763366315610995!3d48.10342795476175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2sEurope!5e0!3m2!1sen!2sus!4v1445781869188"
                  width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row hidden-sm-down">
        <img :src="banner" class="img-fluid" style="width:100%">
      </div>
  </div>
  </div>
</template>

<script src="./contact.component.js"></script>

<style src="./contact.component.css"scoped></style>
