<template>
  <b-navbar toggleable type="dark" fixed="true">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/"><img src="../../assets/img/sofb-mini.png" class="logo"></b-navbar-brand>
    <b-collapse is-nav id="nav_collapse" class="navbar-nav ml-auto">
      <b-navbar-nav is-nav-bar class="ml-auto">
        <b-nav-item to="/" exact="true">Home</b-nav-item>
        <b-nav-item to="/magazines">Magazines</b-nav-item>
        <b-nav-item to="/gallery">Gallery</b-nav-item>
        <b-nav-item to="/advertising">Advertising</b-nav-item>
        <b-nav-item to="/links">Links</b-nav-item>
        <b-nav-item to="/videos">Videos</b-nav-item>
        <b-nav-item to="/about">About</b-nav-item>
        <b-nav-item to="/contact">Contact</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
  export default {
    name: 'navbar-sofb',
    data () {
      return {
        isCollapsed: false,
        menu: [
          {
            'title': 'Home',
            'state': '/'
          },
          {
            'title': 'Magazines',
            'state': '/magazines'
          },

          {
            'title': 'Gallery',
            'state': '/gallery'
          },
          {
            'title': 'Videos',
            'state': '/videos'
          },
          {
            'title': 'Advertising',
            'state': '/advertising'
          },
          {
            'title': 'Links',
            'state': '/links'
          },
          {
            'title': 'About',
            'state': '/about'
          },
          {
            'title': 'Contact',
            'state': '/contact'
          }
        ]
      }
    }
  }
</script>

<style>

  nav {
    color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.137255) 0px 6px 10px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 18px 0px;
    background: #000;
    z-index: 22;
    margin-bottom: 0;
  }
   .navbar-dark .navbar-nav .nav-link {
     font-size: 1.8em;
   }
  .navbar-nav>li>a {
    font-size: 1.6em!important;
    color:#f5f5f5;
  }
  .logo{height:25px;margin-top:-3px;}
</style>
