<template>
  <div class="hello">
    <div class="home mx-auto text-center">

      <img src="../assets/img/landing2.jpg" alt="First slide" class="img-fluid" style="width:100%">
      <div class="claim">
        <div class="p-2">
          <h1>Stoked On Fixed Bikes Free Online Magazine</h1><br>
        </div>
        <div>
          <h4> Founded by photographer and rider Greg Falski in
                London 2011.</h4><br>
          <h3 class="text-muted "><strong>The Magazine</strong> is covering
                competitions, crews, product tests &amp; reviews, interviews and photos of passionate riders from around
                the world.</h3><br>
          <h3> SOFB Online Magazine features work from the best fixed gear photographers,
                capturing the essence and energy of the sport. The magazine promotes the subculture and lifestyle of
                modern day fixed gear riding.</h3><br>
          <h3 class="text-muted "> If you are Stoked On Fixed Bikes thats the right place for you! Riders, Comps,
                Crews,
                Bike Porn</h3><br>

          <ul class="list-inline">
            <li class="social"><a
              href="https://www.facebook.com/stokedonfixedbikesmag?fref=ts"><i
              class="fa fa-facebook fa-fw fa-3x"></i></a></li>
            <li class="social"><a
              href="https://twitter.com/Sofbonlinemag"><i
              class="fa fa-twitter fa-fw fa-3x"></i></a></li>
            <li class="social"><a
              href="http://instagram.com/stokedonfixedbikes"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
            </li>
            <li class="social"><a
              href="http://vimeo.com/groups/sofbonlinemag"><i
              class="fa fa-vimeo-square fa-fw fa-3x"></i></a></li>
            <li class="social"><a
              href="http://www.pinterest.com/gfalski/stoked-on-fixed-bikes-magazine/"><i
              class="fa fa-pinterest fa-fw fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .claim{
    background-color: #2d2a2a;padding:4em;color:#f5f5f5
  }

  .list-inline{ margin-top:1em;padding-bottom:1em;}

  .list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color:white;
  }
  .fa{color:white}

  @media (min-width: 1600px){
    .sofb-video-8bar {
      padding-top: 30px;
      padding-bottom: 25px;
      width: 1600px;
      height: 900px;
    }
  }

  @media (max-width: 765px){
    .logo-claim{width:320px}
  }
</style>
