.sofb-banner {
  margin:0 auto;
  padding-top:4em;
  padding-bottom:4em;
}



.carousel-item img { margin: 0 auto!important;max-width:100%}
.carousel-sofb{margin-bottom:1em}
img{width:100%}
@media (max-width: 765px){

}
