<template>
  <div>
    <sub-header :title="title"></sub-header>
    <div class="container-fluid">
      <div class="row ">
        <div class="col">
          <div class="justify-content-center sofb-banner">
            <!--<b-carousel :interval="8000">-->
              <!--<b-carousel-slide v-for="slide in gallerySlides" :key="slide.id" img-src="slide.img" >-->
              <!--</b-carousel-slide>-->
            <!--</b-carousel>-->
            <b-carousel id="carousel1"
                        style="text-shadow: 1px 1px 2px #333;"
                        controls
                        indicators
                        background="#ababab"
                        :interval="4000"
                        img-width="1024"
                        img-height="480">

              <!-- Text slides with image -->
              <b-carousel-slide  v-for="(gal,id) in gallerySlides" :key="gal.id" :img-src="gal.img"
              ></b-carousel-slide>
            </b-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./gallery.component.js"></script>

<style src="./gallery.component.css" scoped></style>
