<template>
  <footer class="text-center">

    <div class="row">
      <div class="col">
        <ul class="list-inline">
          <li v-for="item in footerMenu">
            <router-link tag="a" :to="item.state">{{item.title}}</router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col end-fot">
        <a href="/" class="text-muted"
           title="powered by ARF">{{arf}} </a> &copy; <span class="text-muted">2018</span>
        <a target="_blank" href="" class="text-muted"
           title="Stoked On Fixed Bikes">StokedOnFixedBikes</a>
      </div>
    </div>
  </footer>
</template>

<script src="./footer.component.js"></script>

<style src="./footer.component.css"scoped></style>
