footer{
  padding:4em;
  background: #000;
  color: #f5f5f5;
}

.list-inline{margin-top:2em}

.list-inline>li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color:#999;
}
.list-inline>li a{color: #f5f5f5; font-size:1.5em}
.end-fot{color: #999; font-size:1.4em}

a{text-decoration: none}
