<template>
  <div>
    <sub-header :title="title"></sub-header>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center p-3">
        <div class="col-12 col-md-3 col-sm-3 p-4" v-for="ad in adverts">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x grey"></i>
                    <i v-bind:class="[ad.icon]" class="fa-stack-1x white"></i>
                </span>
          <h2><span > {{ad.title}}</span></h2>
          <h4 class="text-muted" v-html="ad.desc">{{ad.desc}}</h4>
        </div>
        <div class="col-12 p-4 text-center">
          <h2 class="text-muted"> Please <a class="text-gray-dark">contact us </a>for more detailed information about advertising.</h2>
        </div>
        <br>
        <div class="col-12 p-4 text-center">
          <h2 class="lead">&nbsp;</h2>
          <p class="lead" >
            We already worked with lots of awesome brands, checkout the old website adverts.
        </p>
          <div class="row justify-content-center p-3">
            <a class="thumbnail"  href="advertising" v-for="item in oldAdverts" >
              <img class="img-fluid" alt="" :src="item.img"  />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./advertising.component.js"></script>

<style src="./advertising.component.css" scoped></style>
