<template>
  <div>
    <pager-sofb :prev="prev" :next="next" :current="id"></pager-sofb>
    <br>
    <div v-if="loaded">

      <magazine-sofb :frame="frame"   :published="published"></magazine-sofb>
    </div>
  </div>
</template>
<script src="./magazine.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./magazine.component.css"scoped></style>
