<template>
  <div class="thumbnail-link">
    <router-link :to="item.url" tag="a" v-if="item" target="_blank" title="item.title" >
      <img :src="item.img" :alt="item.title" class="thumbnail-img">
    </router-link>
  </div>

</template>

<script src="./link-item.component.js"></script>
<!-- "scoped" = to limit CSS to this component only -->
<style src="./link-item.component.css"scoped></style>
