.thumbnail-link {
  opacity: 1;
  position: relative;
  width:300px;
  height:200px;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}

.thumbnail-image {
  opacity: 1;
}
.thumbnail-link:hover {
  opacity: 0.4
}

