<template>
  <div id="app">
    <navbar-sofb></navbar-sofb>
    <router-view></router-view>
    <banner-sofb></banner-sofb>
    <footer-sofb></footer-sofb>
  </div>
</template>

<script>
  import NavbarSofb from './components/navbar/navbar-sofb'
  import BannerSofb from './components/banner/banner.vue'
  import FooterSofb from './components/footer/footer.vue'
  export default {
    components: {NavbarSofb, BannerSofb, FooterSofb}, name: 'app'
  }
</script>

<style>
  html, body{
    height: 100%;
    width:100%;
    font-family: Roboto,sans-serif;
    font-size: 81.25%;
  }

</style>
