<template>
  <div class="sofb-banner">
    <div class="row justify-content-center">

      <div class="col-12 col-sm-3 carousel-sofb">
        <b-carousel  :interval="10000">
          <b-carousel-slide v-for="(slide,id) in bombtrackSlides" :key="slide.id" :img-src="slide.img">
          </b-carousel-slide>
        </b-carousel>
      </div>
      <div class="col-12 col-sm-3 carousel-sofb">
        <b-carousel  :interval="10000">
          <b-carousel-slide v-for="(slide,id) in kappsteinSlides" :key="slide.id" :img-src="slide.img">
          </b-carousel-slide>
        </b-carousel>
      </div>
      <div class="col-12 col-sm-3 carousel-sofb">
        <b-carousel  :interval="10000">
          <b-carousel-slide v-for="(slide,id) in poloAndBikeSlides" :key="slide.id" :img-src="slide.img">
          </b-carousel-slide>
        </b-carousel>
      </div>
      <div class="col-12 col-sm-3 carousel-sofb">
        <b-carousel  :interval="10000">
          <b-carousel-slide caption="your add here" v-for="(slide,id) in sofbAdPlaceSlides" :key="slide.id" :img-src="slide.img">
          </b-carousel-slide>
        </b-carousel>
      </div>
    </div>
  </div>
</template>

<script src="./banner.component.js"></script>

<style src="./banner.component.css"scoped></style>
