.sofb-banner {

  padding-top:4em;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:4em;
  background-color: #E5E5E5
}



@media (max-width: 765px){
  .carousel-sofb{margin-bottom:1em}
}
